/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1180px) {
	.section__wrapper {
		max-width: 1024px;
	}
	
	img.banner__img__left {
		left: 25px;
	}
	
	img.banner__img__right {
		right: 50px;
	}
	
	a.how__work {
		left: 110px;
		font-size: 11px;
		background-size: 100%;
	}
	
	h3.info__banner__title {
		font-size: 24px;
		margin-left: 85px;
	}
	
	.post {
		max-width: 660px;
	}
	
	.post__img img {
		width: 100%;
	}
	
	a.back__btn {
		font-size: 12px;
	}
	
	.post__wrapper {
		margin-left: 24px;
		margin-bottom: 48px;
	}
	
	.post__content {
		font-size: 16px;
	}
	
	h1.post__title {
		font-size: 22px;
	}
	
	.post__price span.price__value {
		font-size: 18px;
	}
	
	
	span.btn__text {
		font-size: 12px;
	}
	
	a.post__tag {
		font-size: 11px;
	}
	
	aside.sidebar {
		max-width: 240px;
	}
	
	.post__content img {
		width: 100%;
	}
	
	.infoblock {
		font-size: 16px;
	}
	
	.recent__post {
		max-width: 798px;
	}
	
	article.post__item {
		max-width: 240px;
		margin-bottom: 24px;
	}
	
	h3.post__title {
		font-size: 16px;
	}
	
	.input__group * {
		font-size: 16px;
	}
	
	.item__title {
		font-size: 12px;
	}

	.header__category .section__wrapper .cat__list {
		max-width: 900px;
	}

	.section__wrapper.detail__post {
		padding-left: 0;
		padding-right: 0;
	}

	span.for__unit {
		font-size: 11px;
	}
	
	.more__btn {
		background-size: 20px;
	}
	
	article.post__item:hover > .post__item__info .tour__info .more__btn {
		background-size: 20px;
	}
	
	.done {
		font-size: 12px;
	}
	
	span.from__text {
		font-size: 12px;
	}
	
	section.content__control {
		margin-bottom: 24px;
	}
	
	main#main {
		padding: 24px 0 48px;
	}
	
	h2.section__title {
		font-size: 22px;
		margin-bottom: 24px;
	}
	
	h3.section__subtitle {
		font-size: 14px;
	}
	
	nav.nav__list ul li {
		margin-bottom: 24px;
	}
	
	a.soc__link svg {
		width: 32px;
	}
	
	.menu__container {
		padding: 40px 50px;
	}
	
	.banner {
		font-size: 14px;
	}

	a.logo svg {
		width: 120px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 1024px) {
	
	.header__category .section__wrapper .cat__list {
		max-width: 580px;
	}
	
	.section__wrapper {
		max-width: 680px;
	}
	
	img.banner__img__left {
		width: 72px;
		left: 0;
	}
	
	img.banner__img__right {
		right: 0;
		width: 85px;
		bottom: 0;
		display: none;
	}
	
	a.how__work {
		left: 75px;
		font-size: 10px;
		padding: 18px;
		background-size: 95%;
	}
	
	h3.info__banner__title {
		font-size: 18px;
		margin-left: 204px;
	}
	
	aside.sidebar {
		max-width: 210px;
	}
	
	article.post__item {
		max-width: 220px;
		border-radius: 6px;
		margin-bottom: 18px;
	}
	
	section.content__wrapper {
		margin-right: 14px;
	}
	
	h3.post__title {
		font-size: 14px;
		line-height: 1.2;
	}
	
	.post__price span.price__value {
		font-size: 16px;
	}
	
	.more__btn {
		background-size: 16px;
	}
	
	.post__item__info {
		padding: 5px 15px 15px 15px;
	}
	
	.from__btn {
		padding: 12px 8px;
		border-radius: 6px;
	}
	
	a.btn {
		padding: 10px 12px;
		line-height: 1;
		border-radius: 6px;
	}
	
	.content__wrapper {
		margin-right: 16px;
	}
	
	.footer__item:nth-child(1) {
		left: 0;
	}
	
	.footer__item:nth-child(3) {
		right: 0;
	}
	
	.widget {
		margin-bottom: 18px;
	}

	a.back__btn {
		position: absolute;
		margin: 0;
		height: 38px;
	}
	
	.post__wrapper {
		margin-left: 0;
		margin-top: 52px;
	}
	
	.post {
		max-width: 450px;
	}
	
	.recent__post {
		margin: 0;
		max-width: 100%;
	}
	
	.recent__post article.post__item {
		max-width: 210px;
	}
	
	.input__group {
		flex-wrap: nowrap;
		flex-direction: column;
		margin-top: 18px;
	}
	
	.input__group * {
		width: 100%;
	}
	
	.cat__arrow.arrow {
		width: 24px;
		height: 24px;
	}
	
	.cat__arrow.arrow svg {
		width: 5px;
	}
	
	a.btn.push__btn {
		line-height: 1;
		padding: 8px 10px;
	}
	
	a.btn.push__btn svg {
		width: 20px;
	}
	
	.post__info {
		padding-bottom: 18px;
	}
	
	a.post__share__btn svg {
		width: 24px;
	}
	
	a.post__share__btn {
		width: 24px;
		height: 24px;
	}
	
	.post__share__btns {
		border-radius: 6px;
	}
	
	nav.nav__list ul li {
		margin-bottom: 18px;
	}
	
	nav.nav__list ul li a {
		font-size: 12px;
	}
	
	svg.menu__van {
		width: 16px;
	}
	
	.menu__container {
		padding: 16px 16px;
	}
	
	.menu__list {
		width: 210px;
	}
	
	nav.nav__list {
		margin-top: 35px;
	}
	
	input.form__input {
		width: 340px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.search {
		display: flex;
		position: fixed;
		width: 100vw;
		top: 0;
		left: 0;
		padding: 20px;
		background: #FFF;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		z-index: 6;
		transform: translateY(-120%);
		transition: all .5s ease;
	}
	
	.menu__icon {
		margin-right: 0;
	}
	
	header .section__wrapper {
		padding: 0 20px;
	}
	
	h3.info__banner__title {
		font-size: 18px;
		margin: 0;
		text-align: left;
		max-width: 275px;
	}
	
	img.banner__img__right {
		display: none;
	}
	
	img.banner__img__left {
		width: 105px;
		right: 23%;
		left: auto;
		bottom: auto;
		top: 30px;
	}
	
	a.how__work {
		left: 25px;
		top: 57px;
		background: url(../img/slogan__bg__mobile.svg) no-repeat left top;
		padding: 10px 19px 13px 11px;
		background-size: 100%;
		font-size: 11px;
	}
	
	.info__banner__wrapper {
		align-items: flex-start;
		justify-content: flex-start;
		padding: 7px 22px;
	}
	
	img.info__banner__close {
		top: 7px;
		right: 13px;
	}

	main .section__wrapper {
		flex-direction: column;
		align-items: flex-start;
	}
	
	section.content__wrapper, .content__wrapper {
		flex-wrap: nowrap;
		flex-direction: column;
		max-height: 100%;
		margin: 0;
	}
	
	main#main {
		padding: 30px 20px;
	}
	
	article.post__item {
		margin: 0 0 24px 0;
		max-width: 100%;
	}
	
	img.post__miniature {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
		
	.content {
		margin-bottom: 24px;
	}
	
	main#main.detail__post aside.sidebar {
		max-width: 100%;
		padding: 0px 20px 30px;
	}

	aside.sidebar {
		max-width: 100%;
	}
	
	.promo {
		background: url(../img/banner_bg.svg) repeat-x left bottom;
		background-color: #fff;
	}
	
	footer#footer .section__wrapper {
		flex-direction: column-reverse;
	}
	
	.footer__item:nth-child(1) {
		display: none;
	}
	
	.footer__item:nth-child(3) {
		position: relative;
		right: auto;
		top: auto;
		display: flex;
		justify-content: center;
		margin-bottom: 25px;
	}
	
	footer#footer {
		padding: 14px 20px 24px;
	}
	
	a.footer__logo svg {
		width: 115px;
	}
	
	a.footer__logo {
		margin-bottom: 25px;
	}
	
	.footer__nav ul li {
		margin-bottom: 25px;
	}
	
	.copyright {
		max-width: 278px;
		margin: 0 0 25px 0;
	}

	.post__item__img {
		overflow: hidden;
	}
	
	.post__item__info h3.post__title {
		margin-bottom: 14px;
	}

	.banner__modal__wrapper {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		overflow-y: scroll;
		padding: 35px 20px 25px;
		height: 100%;
		border-radius: 0;
	}
	
	.banner__modal__content {
		align-items: center;
	}

	h3.content__title {
	    text-align: center;
	}
	
	img.banner__modal__close {
	    position: absolute;
	    top: 10px;
	    right: 10px;
	}
	
	.banner__modal__text {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.banner__modal__steps {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.banner__modal__step:nth-child(1), .banner__modal__step:nth-child(2), .banner__modal__step:nth-child(3) {
		max-width: 100%;
		width: 100%;
	}
	
	.info__banner__modal {
		overflow-y: scroll;
	}
	
	.banner__modal__bottom.margin30 {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}
	
	.step__text {
		max-width: 80%;
		align-items: center;
	}
	
	.banner__modal__text p {
		width: 100%;
	}
	
	.banner__modal__content img {
		margin: 10px;
	}

	.menu__container {
		border-radius: 0 0 10px 10px;
	}
	
	.menu__list {
		display: none;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 5;
		height: 430px;
		transform: translateY(-100%);
		transition: all .5s ease;
	}

	.menu__list.active {
	    transform: translateY(0%);
	}

	.mobile__menu__close {
		display: flex;
		position: absolute;
		top: 16px;
		right: 20px;
	}
	
	.from__modal__container {
		height: 100%;
		width: 100%;
		left: 0;
		top: 40px;
		display: none;
		transform: translateY(100vh);
		transition: all 1s ease;
	}
	
	.from__modal {
		width: 100%;
		max-height: 100%;
		height: 100vh;
		overflow: visible;
		position: relative;
		top: 0;
		border-radius: 10px 10px 0 0;
	}

	.from.active .from__modal__container {
		height: 100vh;
		padding-top: 0px;
		top: 40px;
		z-index: 5;
		transform: translateY(0vh);
	}
	
	form#from__search {
		width: 100%;
	}
	
	.from__modal input.form__input {
		width: 100%;
	}

	.from__list {
	    height: 82vh;
	}

	.mobile__search {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 30px;
		height: 30px;
	}

	.mobile__search img {
	    width: 18px;
	}

	.search__overlay {
	    position: absolute;
	    display: none;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    opacity: 0;
	    background: #00000061;
	    z-index: 5;
	    transition: all .5s ease;
	}
	
	.search.active {
	    transform: translateY(-0%);
	}
	
	.mobile__search.active .search__overlay {
	    opacity: 1;
	}
	
	form#search {
	    max-width: 100%;
	}

	.arrow__container {
		display: none !important;
	}

	main#main.main.detail__post {
	    padding: 0;
	}

	.detail__post__container {
	    flex-direction: column;
	    width: 100%;
	    max-width: 100%;
	}
	
	.section__wrapper.detail__post {
	    flex-direction: column;
	    padding: 0;
	}
	
	.post__wrapper {
	    margin: 0;
	    max-width: 100%;
	    flex-direction: column;
	}
	
	.post {
	    max-width: 100%;
	    margin-bottom: 40px;
	}
	
	.header__category .section__wrapper .cat__list {
	    max-width: 100%;
	}
	
	.post__img {
	    max-height: 170px;
	    overflow: hidden;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	
	.post__img img {
	    width: 100%;
	}
	
	a.back__btn {
	    margin: 30px 0 15px 20px;
	}
	
	.post__content img {
	    width: 100%;
	}
	
	.infoblock svg {
	    position: absolute;
	    top: 10px;
	    left: 50%;
	    transform: translateX(-50%);
	}
	
	.infoblock {
	    position: relative;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    padding: 180px 20px 30px;
	}
	
	.recent__post {
	    margin: 0;
	    padding: 24px 20px;
	    width: 100%;
	}

	a.from__list__link {
		padding: 12px 14px;
		margin-bottom: 10px;
	}

	.from {
	    position: inherit;
	}
	
	.menu {
	    position: inherit;
	}

	.post__item__info h3.post__title {
		font-size: 18px;
	}
	
	.post__price span.price__value {
		font-size: 20px;
	}
	
	span.for__unit {
		font-size: 12px;
	}
	
	.more__btn, article.post__item:hover > .post__item__info .tour__info .more__btn {
		background-size: 100%;
	}

	a.back__btn {
	    position: inherit;
	    width: 122px;
	    height: 44px;
	    font-size: 14px;
	}
	
	a.post__share__btn svg {
	    width: 32px;
	}
	
	a.post__share__btn {
	    width: 32px;
	    height: 32px;
	}
	
	nav.nav__list ul li a {
	    font-size: 13px;
	}
	
	nav.nav__list ul li {
	    margin-bottom: 30px;
	}
	
	svg.menu__van {
	    width: 20px;
	}
	
	.menu__container {
	    padding: 49px 0 43px;
	}
	
	nav.nav__list {
	    margin: 0;
	}
	
	a.post__tag {
	    font-size: 12px;
	}
	
	span.btn__text {
	    font-size: 13px;
	}
	
	a.btn.push__btn svg {
	    width: 24px;
	}
	
	a.btn.push__btn {
	    padding: 10px;
	    border-radius: 10px;
	}
	
	.post__info {
	    padding-bottom: 24px;
	}
	
	.input__group {
	    margin-top: 24px;
	}
	
	.input__group * {
	    font-size: 18px;
	}
	
	.post__content {
	    font-size: 18px;
	}
	
	.infoblock {
	    font-size: 18px;
	}
	
	.recent__post article.post__item {
	    max-width: 100%;
	}

	.done {
	    font-size: 14px;
	}
	
	.promo h3.post__title {
	    font-size: 18px;
	}
	
	h2.section__title {
	    font-size: 24px;
	}
	
	a.btn {
	    padding: 10px 22px;
	    line-height: 24px;
	    border-radius: 10px;
	}

	.from__btn {
	    padding: 14px 10px;
	    border-radius: 10px;
	}
}
